.protable {
  @import 'thead';

  tfoot {
    tr {
      > td {
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .active {
            font-weight: bolder;
          }
        }
      }
    }
  }
}